html, body {
    overflow: hidden;
    margin: 0; padding: 0;
    height: 100%;
    color: #1ec503;
    font-family: "Lucida Console", Monaco, monospace;
}

canvas {
    width: 75%;
    height: 100%;
    padding-bottom: 10vh; 
    position: fixed;
    background: black;
}

#controls {
    width: 25%;
    height: 100%;
    float: right;
    background: black;
}

.hidden {
    display: none;
}

.selected {
    background: yellow;
}

button {
    margin-top: 0.2em;
    width: 100%;
    height: 3em;
    border-color: #1ec503;
    color: #1ec503;
    border-width: 3px; 
    background: transparent
}

#backward-button, #play-button, #forward-button {
    width: 33%;
    float: left;
}

table {
    width: 100%;
}

table td 
{
    text-align:center; 
    vertical-align:middle;
}

:disabled {
    color: gray;
    border-color: gray;
}

